{% extends "base.html" %}

{% block content %}
    <div>
        <p class="index_text">Добро пожаловать на MatRace!</p>
        <br>
        Мы рады приветствовать вас на нашем сайте, посвященном математике — удивительному миру чисел, формул и логических решений. Независимо от того, являетесь ли вы учеником, студентом, преподавателем или просто любителем математики, у нас вы найдете множество полезных ресурсов и информации.
        <br>
        <br>
        <p class="index_text">Наши цели и миссия:</p>
        Мы стремимся сделать математику доступной и интересной для всех. Наша миссия — помочь вам развивать свои математические навыки и углублять знания, предоставляя качественные учебные материалы, интерактивные инструменты и поддержку на каждом этапе обучения.
        <br>
        <br>
        <p class="index_text">Что вы найдете на нашем сайте:</p>
        Обучающие материалы: Подробные уроки, статьи и учебники по различным разделам математики — от алгебры и геометрии до статистики и комбинаторики.
        <br>
        Интерактивные задачи и тесты: Практические упражнения и тесты, которые помогут вам закрепить полученные знания и подготовиться к олимпиадам.
        <br>
        <br>
        <p class="index_text">Присоединяйтесь к нам:</p>
        Мы верим, что математика — это не просто наука, а ключ к пониманию мира и развитию критического мышления. Присоединяйтесь к нашему сообществу, чтобы вместе исследовать бесконечные возможности математики. Начните свое путешествие по страницам нашего сайта и откройте для себя мир, где математика становится неотъемлемой частью вашей жизни.
        <br>
        <br>
        <p class="index_text">Добро пожаловать на MatRace! Здесь начинается ваше математическое приключение.</p>
        <br>
        <br>
    </div>
{% endblock %}